@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }

  /* Optional: Offset for your fixed header */
  section {
    @apply scroll-mt-24;
  }
  .smoothSwiper .swiper-wrapper {
    transition-timing-function: linear !important;
  }
}
